* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(57, 96, 204);
    align-items: center;
    height: 100vh;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    font-size: 25px;
}


@media only screen and (max-width:500px) {
    body {
        font-size: 9px;
    }
}

@media only screen and (min-width: 500px) {
    body {
        font-size: 15px;

    }
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }
}